# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
target/
src/main/resources/*.properties
**/.DS_Store
.classpath
.gitattributes
.project
.settings/
archivo/
id_web_client
id_web_client.pub
uploads/
config/
